.left-side{
    background-image: url("../assets/img/muebles-interior.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.white-text{
    color: white;
}
