<!DOCTYPE html>
<html lang="en" ng-app="UX">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estadísticas</title>
  <link rel="shortcut icon" href="../../assets/img/appIcon.png" type="image/x-icon">
  <!-- #Bootstrap -->
  <link rel="stylesheet" href="../../assets/css/boostrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <!-- #general styles -->
  <link rel="stylesheet" href="../../assets/css/general.css">
  <link rel="stylesheet" href="../../assets/css/estilos.css">
  <!-- #Bootstrap -->
  <link rel="stylesheet" href="../../assets/css/checkout.css">

</head>

<body ng-controller="dashboardController" ng-init="loadProducts()">

  <!-- #navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="../productList.html">
        <img src="../../assets/img/appIcon.png" alt="" width="35" height="35">
        Venta de productos en línea
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" id="navbarSupportedContent">
        <div class="col mx-5 py-2 d-flex align-items-center"></div>
        <div class="d-flex">
          <a href="../productList.html" role="button" class="round-btn-nav" disabled><i class="bi bi-house-door-fill"></i></a>
      </div>
      </div>
    </div>
  </nav>
  <!-- #navbar -->

  <!-- #content -->
  <div class="container my-5">
    <div class="row d-flex align-items-center">
      <div class="col-6"><h2>Estadísticas</h2></div>
      <div class="col-6 text-end">
        <a class="btn btn-primary" target="_blank" href=".././../403/index.html">403</a>
        <a class="btn btn-primary" target="_blank" href=".././../404/index.html">404</a>
        <a class="btn btn-primary" target="_blank" href=".././../500/index.html">500</a>
        <a class="btn btn-primary" target="_blank" href="./forms.html">Campos y validaciones</a>
      </div>
    </div>
    <hr>

    <!-- #principal tabs -->
    <div class="row row-cols-2 row-cols-md-4">
      <div class="col">
        <div class="card border-0  rounded-4 shadow h-60">
          <div class="card-body">
            <h4 class="card-title pricing-card-title ">Ganancias</h4>
            <h3 class="card-title pricing-card-title ">$300,000.00</h3>
            <div id="area-chart1"></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0  rounded-4 shadow h-60">
          <div class="card-body">
            <h4 class="card-title pricing-card-title ">Ventas</h4>
            <h3 class="card-title pricing-card-title ">$140,000.00</h3>
            <div id="area-chart2"></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0  rounded-4 shadow h-60">
          <div class="card-body">
            <h4 class="card-title pricing-card-title ">Pérdidas</h4>
            <h3 class="card-title pricing-card-title ">$10,000.00</h3>
            <div id="area-chart3"></div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0  rounded-3 shadow h-60">
          <div class="card-body">
            <h4 class="card-title pricing-card-title">Total</h4>
            <h3 class="card-title pricing-card-title">$450,000.00</h3>
            <div id="area-chart4"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- #principal tabs -->

    <div class="row row-cols-2 row-cols-md-2 mt-3">

      <!-- #principal sheet -->
      <div class="col-8">
        <div class="card border-0  rounded-4 shadow h-60">
          <div class="card-body">
            <h4 class="card-title pricing-card-title ">Resultados Enero-Mayo</h4>
            <div id="area-chart5"></div>
          </div>
        </div>

        <!-- #product list -->
        <div class="card border-0 shadow mt-3">
          <div class="card-body">
            <div class="row d-flex align-items-center">
              <div class="col-6">
                <h4>Listado de productos</h4>
              </div>
              <div class="col-6 text-end">
                <a class="btn round-btn-nav" href="#exampleModal" data-bs-toggle="modal">
                  <h5>+</h5>
                </a>
              </div>
            </div>
            <hr>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col" class="text-center">Unidades en stock</th>
                    <th scope="col" class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in products">
                    <td ng-bind="item.name"></td>
                    <td ng-bind="item.price | currency"></td>
                    <td ng-bind="item.cuantity" class="text-center"></td>
                    <td class="text-center">
                      <button class="me-2 round-btn-primary"><i class="bi bi-info-circle-fill"></i></button>
                      <button class="round-btn-danger"><i class="bi bi-trash-fill"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- #product list -->
      </div>
      <!-- #principal sheet -->

      <!-- #wizzard -->
      <div class="col-4">
        <div class="card border-0 rounded-3 shadow">
          <div class="card-body">
            <div class="contenedor">
              <aside class="ml-3 mr-3">
                <div class="contenedor-wizard" id="wizard">
                  <h3 class="titulo mr-3">Wizzard</h3>
                  <ul class="lista">
                    <li><a href="#1">Paso 1</a></li>
                    <div id="1">
                      <h5>Planeación</h5>
                      <p>Fase no.1 Planear el proyecto</p>
                    </div>
                    <li><a href="#2">Paso 2</a></li>
                    <div id="1">
                      <h5>Diseño</h5>
                      <p>Fase no.2 Diseñar vistas y estilos</p>
                    </div>
                    <li><a href="#3">Paso 3</a></li>
                    <div id="1">
                      <h5>Desarrollo</h5>
                      <p>Fase no.3 Realizar el producto</p>
                    </div>
                    <li><a href="#4">Paso 4</a></li>
                    <div id="1">
                      <h5>Pruebas</h5>
                      <p>Fase no.4 Probar el producto</p>
                    </div>
                  </ul>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </div>
      <!-- #wizzard -->

    </div>
  </div>
  </div>


  <!-- #Modal -->
  <div class="modal fade" id="exampleModal" data-bs-toggle="modal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content border-0">
        <div class="card border-0">
          <div class="card-body">
            <h4>Registrar nuevo producto</h4>
            <hr>
            <div class="row">
              <div class="col-7">
                <div class="row">
                  <div class="col-7">
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <input placeholder="Nombre" type="text"
                          class="form-control border-top-0 border-start-0 border-end-0 border-2" name="" id="">
                        <span
                          class="input-group-text text-secondary border-top-0 border-start-0 border-end-0 border-2 bg-white fs-4"
                          id="basic-addon2"><i class="bi bi-pencil-fill"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-5">
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <input placeholder="Código" type="text"
                          class="form-control border-top-0 border-start-0 border-end-0 border-2" name="" id="">
                        <span
                          class="input-group-text text-secondary border-top-0 border-start-0 border-end-0 border-2 bg-white fs-4"
                          id="basic-addon2"><i class="bi bi-upc"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <input placeholder="Marca" type="text"
                          class="form-control border-top-0 border-start-0 border-end-0 border-2" name="" id="">
                        <span
                          class="input-group-text text-secondary border-top-0 border-start-0 border-end-0 border-2 bg-white fs-4"
                          id="basic-addon2"><small><i class="bi bi-bookmark-fill"></i></small></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <input placeholder="Precio" type="text"
                          class="form-control border-top-0 border-start-0 border-end-0 border-2" name="" id="">
                        <span
                          class="input-group-text text-secondary border-top-0 border-start-0 border-end-0 border-2 bg-white fs-4"
                          id="basic-addon2"><small><i class="bi bi-currency-dollar"></i></small></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <input placeholder="Unidades" type="number"
                          class="form-control border-top-0 border-start-0 border-end-0 border-2" name="" id="">
                        <span
                          class="input-group-text text-secondary border-top-0 border-start-0 border-end-0 border-2 bg-white fs-4"
                          id="basic-addon2"><small><i class="bi bi-boxes"></i></small></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <input placeholder="Nombre" type="file"
                          class="form-control border-top-0 border-start-0 border-end-0 border-2" name="" id="">
                        <span
                          class="input-group-text text-secondary border-top-0 border-start-0 border-end-0 border-2 bg-white fs-4"
                          id="basic-addon2"><small><i class="bi bi-image-fill"></i></small></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <h4>Especificaciones</h4>
                    <hr>
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <input placeholder="Tipo, ej: modelo" type="text"
                          class="form-control border-top-0 border-start-0 border-end-1 border-2" name="" id="">
                          <input placeholder="Dato" type="text"
                          class="form-control border-top-0 border-start-0 border-end-0 border-2" name="" id="">
                        <button class="btn btn-primary">Agregar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-5">
                Imagen del producto 
                <div class="img-tumbnail d-flex align-items-center justify-content-center">
                  <h1><i class="bi bi-image-fill"></i></h1>
                </div>
              </div>
              <div class="col-12 mt-3 text-end">
                <hr>
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary">Registrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #Modal -->

  <!-- #scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
  <!-- Angular JS -->
  <script src="../../js/angular.min.js"></script>
  <script src="../../js/app.js"></script>
  <script src="../../js/controllers/dashboardController.js"></script>
  <!-- #dashboard js -->
  <script src="../../js/dashboard.js"></script>
  <!-- #scripts -->
</body>

</html>