<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de productos</title>
    <!-- #Bootstrap -->
    <link rel="stylesheet" href="../assets/css/boostrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- #general styles -->
    <link rel="stylesheet" href="../assets/css/general.css">
</head>

<body>

    <!-- #navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../assets/img/appIcon.png" alt="" width="35" height="35">
                Venta de productos en línea
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse" id="navbarSupportedContent">
                <div class="col mx-5 py-2 d-flex align-items-center">
                    <div class="input-group">
                        <button class="btn btn-search-nav" type="button" id="button-addon1"><i
                                class="bi bi-filter"></i></button>
                        <input placeholder="Buscar.." type="text" class="form-control border-end-0" placeholder=""
                            aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <span class="input-group-text bg-white border-start-0" id="basic-addon2"><i
                                class="bi bi-search"></i></span>
                    </div>
                </div>
                <div class="d-flex">
                    <a role="button" class="round-btn-nav-active" disabled><i class="bi bi-house-door-fill"></i></a>
                    <a role="button" class=" ms-2 round-btn-nav"><i class="bi bi-cart-fill"></i></a>
                    <a href="./inbox.html" role="button" class=" ms-2 round-btn-nav"><i class="bi bi-envelope-fill"></i></a>
                    <div class="dropdown">
                        <button data-bs-toggle="dropdown" role="button" class="ms-2 round-btn-primary"><i class="bi bi-person-fill ps/0"></i></button>
                        <ul class="mt-2 dropdown-menu dropdown-menu-end" id="userMenu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="./userProfile.html">Mi perfil</a></li>
                            <li><a href="./login.html" class="dropdown-item text-danger" href="#">Cerrar sesión</a></li>
                        </ul>
                    </div>
                    <a role="button" class=" ms-2 round-btn-nav"><i class="bi bi-broadcast"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- #navbar -->

    <!-- #carousel -->
    <div id="carouselExampleCaptions" class="carousel slide" style="height: 400px;" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" style="align-items: center;">
                <img src="../assets/img/carousel/carousel1.png" style="width:100%; height: 400px; object-fit: fill;"
                    alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Los mejores smartphones</h3>
                    <p>¡Ya contamos con iPhone 13 en nuestras tiendas!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/img/carousel/carousel2.png" style="width: 100%;height: 400px; object-fit: fill;"
                    alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Artículos para el hogar</h3>
                    <p>Diversos artículos tecnológicos para mejor comodidad</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/img/carousel/carousel3.png" class="d-block w-100"
                    style="width: 100%;height: 400px; object-fit: fill;" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>La nueva consola de nintendo</h3>
                    <p>La nintendo switch es la consola más popular</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" style="background-color: rgba(0, 0, 0, 0.5);" type="button"
            data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" style="background-color: rgba(0, 0, 0, 0.5);" type="button"
            data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- #carousel -->

    <!-- #content -->
    <div class="container my-5">
        <!-- #brand -->
        <h2>Nuevos productos</h2>
        <hr>
        <div class="row">
            <div class="col-3 mt-2" ng-repeat="product in products">
                <div class="card border-0 shadow" ng-click="details()">
                    <img src="{{product.image}}" class="card-img-cover card-img-top" alt="">
                    <div class="card-body">
                        <span class="fs-5"><strong ng-bind="product.name"></strong></span><br>
                        <span ng-bind="'$'+product.price"></span>
                        <div class="d-flex flex-row">
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #brand -->

        <!-- #brand -->
        <h2 class="mt-5">Los más vendidos</h2>
        <hr>
        <div class="row">
            <div class="col-3 mt-2" ng-repeat="product in productsSell">
                <div class="card border-0 shadow">
                    <img src="{{product.image}}" class="card-img-cover card-img-top" alt="">
                    <div class="card-body">
                        <span class="fs-5"><strong ng-bind="product.name"></strong></span><br>
                        <span ng-bind="'$'+product.price"></span>
                        <div class="d-flex flex-row">
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <i class="bi bi-star-fill text-warning me-1"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #brand -->
    </div>
    <!-- #content -->

    <!-- #scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- #scripts -->
</body>

</html>