.round-btn-nav{
    background-color: #3E709D;
    border-radius: 100%;
    padding-top: 5px;
    text-align: center;
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: #fff;
    transition: 250ms;
}

.round-btn-nav-active, .round-btn-nav-active:hover{
    background-color: #223D55;
    border-radius: 100%;
    padding-top: 5px;
    text-align: center;
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: #fff;
    box-shadow: 0px 0px 9px 3px #0086FE;

}

.round-btn-nav:hover, .btn-edit-user-img:hover{
    background-color: #223D55;
    color: #fff;
}

.round-btn-nav:active, .btn-edit-user-img:active{
    background-color: #223D55;
    color: #fff;
    box-shadow: 0px 0px 9px 3px #0086FE;
}

.btn-search-nav{
    background-color: #3E709D;
    font-size: 30px;
    padding: 0px 20px 0px 20px;
    color: #fff;
}

.btn-search-nav:hover{
    background-color: #223D55;
    color: #fff;
}

.btn-search-nav:active{
    background-color: #223D55;
    color: #fff;
    box-shadow: 0px 0px 9px 3px #0086FE;
}

.landing-img{
    height: calc(38.7vh - 8.1vh);
}

.cover-img-landing{
    height: 100% !important; 
    width: 100% !important;
    object-fit: cover !important;
}

.h-device{
    height: calc(100vh - 8.1vh);
}

.img-cover{
    position: relative;
}

.img-overlay-bottom{
    position: absolute;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgb(0, 0, 0, 0));
    bottom: 0px;
    right: 0px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.img-overlay-top{
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.5), rgb(0, 0, 0, 0));
    top: 0px;
    left: 0px;
    padding-top: 20px;
    padding-left: 50px;
}

.card-img-cover{
    object-fit: contain;
    height: 150px;
}

.user-img-container{
    position: relative;
}

.user-img{
    object-fit: cover;
    width: 416px;
    height: 416px;
    border-radius: 100%;
}

.btn-edit-user-img{
    background-color: #3E709D;
    border-radius: 100%;
    border: 5px solid #fff;
    text-align: center;
    height: 70px;
    width: 70px;
    font-size: 25px;
    color: #fff;
    position: absolute;
    bottom: 30px;
    right: 30px;
    transition: 250ms;
}